body {
    background-color: black;
    color: rgba(255, 255, 255, 0.893);
    text-align: center;
    align-content: center;
    max-width: 800px;
    min-width: 600px;
    margin:10px auto;
    /* background-image: url('../assets/img/pgal.jpeg'); */
    background-size: cover;
    
}
.board {
    width: 600px;
    height: 600px;
	display: grid;
	grid-template-columns: repeat(4, 150px);
	/* justify-content: center; */
    grid-template-rows: repeat(4, 150px);
    align-content: space-between;
	margin: 10px auto;
}
.card{
    width: 120px;
	height: 120px;
	background-color: white;
    margin: 0px auto;
    border-radius: 20px;
    /* background-image: url('../assets/img/astro.jpg'); */
    
}
.button {
    margin: 10px auto;
    border-radius: 10px;
    width: 80px;
}
#resetButton, #themeButton {
    /* margin: 20px auto; */
    width: 150px;
    height: 60px;
    font-size: large;
}

.difficultySelect, .bottomButtons {
    display:inline-flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1px auto;
}
.difficultySelect > button {
    width: 80px;
    /* max-height: 30px; */
}

#clickCounter {
   background-color: grey;
   width: 140px;
   text-align:center;
   border-radius: 10px; 
}

#timer{
    background-color: grey;
    width: 120px;
    /* height: 40px; */
    text-align:center;
    border-radius: 10px; 
}
h2 {
    font-size: 20px;
    padding: 0px;
    height: 0px;
}

