body {
	background-color: black;
	color: rgba(255, 255, 255, 0.893);
	text-align: center;
	align-content: center;
	max-width: 800px;
	min-width: 600px;
	margin: 10px auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-position: center center;
}
.board {
	width: 600px;
	height: 600px;
	display: grid;
	align-content: space-between;
	margin: 10px auto;
}
.card {
	background-color: white;
	margin: 0px auto;
	border-radius: 20px;
	background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.button {
	margin: 10px auto;
	border-radius: 10px;
	width: 80px;
}
#resetButton,
#themeButton {
	width: 150px;
	height: 60px;
	font-size: large;
}

.difficultySelect,
.bottomButtons {
	display: inline-flex;
	justify-content: space-around;
	flex-direction: row;
	margin: 1px auto;
	
	
}
.difficultySelect > button {
	width: 80px;
}

#clickCounter {
	background-color: grey;
	width: 140px;
	text-align: center;
	border-radius: 10px;
}

#timer {
	background-color: grey;
	width: 120px;
	text-align: center;
	border-radius: 10px;
}
h2 {
	font-size: 20px;
	padding: 0px;
	height: 0px;
}
