body {
    background-color: black;
    color: rgba(255, 255, 255, 0.893);
    text-align: center;
}

.board {
    width: 800px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	/* justify-content: center; */
    align-content: space-around;
	margin: 10px auto;
}
.card{
    width: 120px;
	height: 120px;
	background-color: white;
    margin: 20px auto;
}